body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg,#35577D, #141E30);
    margin: 0;
    padding: 0;

}
h1 {

}

.h2{
    opacity: 
    Font-size: 12px;
    color: white;
    background-color: black;

}